<?xml version="1.0"?>
<!--
/**
 * Magedelight
 * Copyright (C) 2018 Magedelight <info@magedelight.com>
 *
 * @category Magedelight
 * @package Magedelight_SpecialPromo
 * @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
 * @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
 * @author Magedelight <info@magedelight.com>
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\Rule\Metadata\ValueProvider">
        <plugin name="magedelight_promos" type="Magedelight\SpecialPromo\Plugin\Model\Rule\Metadata\ValueProvider" />
    </type>
    <type name="Magento\SalesRule\Model\Rule\Condition\Product\Combine">
        <plugin name="magedelight_conditions" type="Magedelight\SpecialPromo\Plugin\Model\Rule\Condition\Product\Combine" />
    </type>
    <type name="Magento\SalesRule\Model\Rule\Action\Discount\CalculatorFactory">
        <plugin name="magedelight_calculatefacory" type="Magedelight\SpecialPromo\Plugin\CalculatorFactory" />
    </type>
    <type name="Magento\SalesRule\Model\Utility" >
        <plugin name="magedelight_utility" type="Magedelight\SpecialPromo\Plugin\Utility" sortOrder="1"/>
    </type>    
    <type name="Magento\SalesRule\Model\Validator">
        <plugin name="magedelight_salesrule_validator_for_shipping_discount" type="Magedelight\SpecialPromo\Plugin\Model\Validator" />
    </type>
    <type name="Magento\Catalog\Model\Product\Type\AbstractType">
        <plugin name="md_specialpromo_product_abstracttype" type="Magedelight\SpecialPromo\Plugin\ProductAbstractType"/>
    </type>
</config>
